@each $stt in (1, 2, 3, 4, 5, 6) {
    .delay-#{$stt} {
        animation-delay: (0.15s * $stt);
    }
}

@each $stt, $img in (1, banner-1) (2, banner-2) (3, banner-3) (4, banner-4) {
    #swipperHonda {
        .slider-#{$stt} {
            background-image: url("../../img/#{$img}.jpg");
            background-size: cover;
            background-position: center;
            @media screen and (max-width: 768px) {
                background-image: url("../../img/#{$img}-xs.jpg");
                background-size: cover;
                background-position: unset;
            }
            @media screen and (max-width: 576px) {
                background-image: url("../../img/#{$img}-xs.jpg");
                background-size: cover;
                background-position: center;
            }
        }
    }
}

@each $stt, $img in (1, slider-1) (2, slider-2) (3, slider-3) (4, slider-4) (5, slider-5) {
    #our-vehicles {
        .item-#{$stt} {
            background-image: url("../../img/#{$img}.jpg");
            background-size: cover;
            background-position: center;
            @media screen and (max-width: 768px) {
                background-image: url("../../img/#{$img}-xs.jpg");
                background-size: cover;
                background-position: unset;
            }
            @media screen and (max-width: 576px) {
                background-image: url("../../img/#{$img}-xs.jpg");
                background-size: cover;
                background-position: center;
            }
        }
    }
}

@each $stt, $img in (1, item-1) (2, item-2) (3, item-3) (4, item-4) {
    #vahicles-function {
        .function-#{$stt} {
            background-image: url("../../img/#{$img}.jpg");
            background-repeat: no-repeat;
            background-size: 120%;
            background-position: center 0;
        }
    }
}

@each $stt, $img in (1, discover-1) (2, discover-2) (3, discover-3) (4, discover-4) (5, discover-5){
    #discover {
        .discover__item-#{$stt} {
            background-image: url("../../img/#{$img}.jpg");
            background-repeat: no-repeat;
            background-size: 120%;
            background-position: center 0;
        }
    }
}
